<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Medicine</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block body %}
    <div class="container" style="margin-top: 50px;">
        <h2 class="text-center">Edit Medicine</h2>
        <br>
        <br>

        <!-- Form Starts -->
        <form method="POST">
            {% csrf_token %}

            <!-- Doctor Name Field -->
            <label>Medicine Name</label>
            <input type="text" class="form-control" name="name" value="{{med.name}}" required>

            <!-- Contact Field -->
            <label>Manufacturing Date</label>
            <input type="date" class="form-control" name="mfd" value="{{med.manufacturing_date}}" required>

            <!-- Specialization Field -->
            <label>Expiry Date</label>
            <input type="date" class="form-control" name="ed" value="{{med.expiry_date}}" required>

            <!-- Doctor Type -->
            <label>Quantity</label>
            <input type="text" class="form-control" name="q" value="{{med.quantity}}" required>
            <br>
            
            <input type="submit" value="Submit" class="form-control btn btn-primary">
        </form>
    </div>

    <!-- Check if error, if not go to view_doctor page -->
    {% ifequal error "No" %}
    <script>
        alert("Record editted successfully");
        window.location = ("/view_medicine/");
    </script>
    {% endifequal %}
    <!-- Otherwise display error -->
    {% ifequal error "Yes" %}
    <script>
        alert("Something went wrong, Try Again");
    </script>
    {% endifequal %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
</body>
</html>