<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Appointments</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
</head>
<body>
    {% extends 'navbar.html' %}
    {% block body %}

    <div class="container">
        <div class="row">

            <!-- Heading -->
            <div class="col-md-6">
                <h2 style="padding: 20px;">View Appointments</h2>
            </div>

            <!-- Button to add appointments -->
            <div class="col-md-6">
                <a class="btn btn-primary float-right" style="margin: 20px;" href="/add_appointment/">Add Appointment</a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <table class="table" id="tbl" width="100%">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Patient Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop for printing all appointments as table -->
                {% for appointment in app %}
                <tr>
                    <td>{{appointment.doctor}}</td>
                    <td>{{appointment.patient}}</td>
                    <td>{{appointment.date1}}</td>
                    <td>{{appointment.time1}}</td>

                    <!-- Edit Button -->
                    <td><a href="/edit_appointment/{{appointment.id}}/" onclick="return confirm('Are you sure?');" class="btn btn-warning">Edit</a>

                    <!-- Delete Button -->
                    <a href="/delete_appointment/{{appointment.id}}/" onclick="return confirm('Are you sure?');" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#tbl').DataTable();
        });
    </script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    {% endblock %}
</body>
</html>